.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-between;
    font-size: small;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: .3s;
    height: 100vh;
    /* margin: 30px auto; */
}

.container .info-form {
    /* background-color: yellowgreen; */
    background-color: rgb(46, 71, 93);
    color: rgb(255, 255, 255);
    flex: 0.25 1;
    width: 100%;
    /* padding: 20px; */
}

.info-form .form-header {
    display: flex;
    justify-content: space-between;
}

.info-form .form-body {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    height: 85%;
    overflow-y: scroll;
    padding: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.info-form .form-body::-webkit-scrollbar {
    display: none;

}

/* Hide scrollbar for IE, Edge and Firefox */
.info-form .form-body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.form-body .f-section {
    font-size: large;
    font-weight: 700;
    margin: 10px 0 20px;
}

.input-field {
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.input-field .if-label {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.07em;
    margin-bottom: 5px;
}

.input-field .if-input {
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.07em;
    font-size: 14px;
}

.container .email-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    flex: 0.75 1;
    /* width: 100%; */
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container .email-container::-webkit-scrollbar {
    display: none;

}

/* Hide scrollbar for IE, Edge and Firefox */
.container .email-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.email-container .p-scroll {
    width: 100%;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.email-container .p-scroll::-webkit-scrollbar {
    display: none;

}

/* Hide scrollbar for IE, Edge and Firefox */
.email-container .p-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.create {
    /* width: 180px; */
    padding: 10px 20px;
    background-color: rgb(46, 71, 93);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    margin: 0 10px;
    transition: 0.3s;
}

.create:hover {
    color: white;
    background-color: rgb(62, 89, 116);
}

.buttons {
    width: max-content;
    margin: 0 auto 30px;
}

.templates-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.temp-button {
    margin: 10px 0;
    cursor: pointer;
    opacity: 40%;
    border-radius: 20px;
    transition: 0.3s;
}

.tn-img {
    border-radius: 10px;
    width: 300px;
}

.temp-button:hover {
    opacity: 70%;
}

.opc50 {
    opacity: 100%;
}

.t-img {
    width: 310px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}